body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage {
  text-align: center;
  margin: 20px;
}

.form {
  text-align: center;
  margin: 20px;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

.button {
  margin-top: 20px;
}

.homeImage {
  width: 100%;
  height: 50vh;
}